<header class="relative py-5 border-b border-solid border-slate-200">
  <div class="container flex items-center">
    <h1 class="font-bold text-2xl">Swiper TimePicker</h1>
    <nav class="flex-1 flex justify-end gap-4 items-center">
      <a href="#inputPicker">Input Picker</a>
      <a href="#buttonPicker">Button Picker</a>
    </nav>
  </div>
</header>

<div class="container flex flex-col gap-12 py-6">
  <section
    id="inputPicker"
    class="rounded-md bg-white p-5 py-6 text-[0.8125rem] leading-6 text-slate-900 shadow-xl shadow-black/5 ring-1 ring-slate-700/10"
  >
    <h2 class="text-xl font-semibold mb-4 text-purple-800">Input TimePicker</h2>
    <div class="grid grid-cols-12 xl:grid-cols-4 gap-5 items-start">
      <ngx-swipe-timepicker
        varient="input"
        label="Simple Picker"
        [enableSeconds]="true"
        [isTwelveHourFormat]="true"
      ></ngx-swipe-timepicker>

      <ngx-swipe-timepicker
        varient="input"
        label="24hour Picker"
        [enableSeconds]="true"
        [isTwelveHourFormat]="false"
      ></ngx-swipe-timepicker>

      <ngx-swipe-timepicker
        varient="input"
        [stepper]="15"
        [isTwelveHourFormat]="true"
        [enableSeconds]="true"
        label="Stepper Picker (15)"
      ></ngx-swipe-timepicker>

      <div id="input-stack-picker">
        <ngx-swipe-timepicker
          varient="input"
          [isTwelveHourFormat]="true"
          pickerParent="#input-stack-picker"
          pickerVarient="stacked"
          label="Picker with parent selector and stacked"
        ></ngx-swipe-timepicker>
      </div>
    </div>
  </section>

  <section
    id="buttonPicker"
    class="rounded-md bg-white p-5 py-6 text-[0.8125rem] leading-6 text-slate-900 shadow-xl shadow-black/5 ring-1 ring-slate-700/10"
  >
    <h2 class="text-xl font-semibold mb-4 text-purple-800">Button TimePicker</h2>
    <div class="grid grid-cols-12 xl:grid-cols-4 gap-5 items-start">
      <ngx-swipe-timepicker
        varient="button"
        [enableSeconds]="true"
        [isTwelveHourFormat]="true"
        placeholder="Simple Picker"
      ></ngx-swipe-timepicker>

      <ngx-swipe-timepicker
        varient="button"
        [enableSeconds]="true"
        [isTwelveHourFormat]="false"
        placeholder="24hour Picker"
      ></ngx-swipe-timepicker>

      <ngx-swipe-timepicker
        varient="button"
        [stepper]="15"
        [enableSeconds]="true"
        [isTwelveHourFormat]="true"
        placeholder="Stepper Picker (15)"
      ></ngx-swipe-timepicker>

      <div id="button-stack-picker">
        <ngx-swipe-timepicker
          varient="button"
          [isTwelveHourFormat]="true"
          pickerParent="#button-stack-picker"
          pickerVarient="stacked"
          placeholder="Picker with parent selector and stacked"
        ></ngx-swipe-timepicker>
      </div>
    </div>
  </section>
</div>
