<div class="container">
  <h1 class="mb-6 font-semibold text-xl">Time picker</h1>
  <div class="grid grid-cols-12 xl:grid-cols-4 gap-5">
    <div class="flex flex-col">
      <label class="text-sm mb-1">Simple Input Picker</label>
      <app-timepicker varient="input"></app-timepicker>
    </div>

    <div class="flex flex-col">
      <label class="text-sm mb-1">Stepper Picker (15)</label>
      <app-timepicker varient="input" [stepper]="15"></app-timepicker>
    </div>

    <div class="flex flex-col stack-picker">
      <label class="text-sm mb-1">Picker with parent selector and stacked</label>
      <app-timepicker
        varient="input"
        [stepper]="15"
        pickerParent="stack-picker"
        pickerVarient="stacked"
      ></app-timepicker>
    </div>
  </div>
</div>
